body{
    width: 65%;
    margin: 0 auto;
}
#content{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.header > div{
    padding: 0.5em;
}