body{
  background-color: #f9f9f9;
}
#app {
  font-family: consolas;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  max-width: fit-content;
  margin: 0 auto;
}
#config-modal{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  font-family: consolas;
  position: fixed;
  width: 100vw;
  transition: opacity 0.3s ease;
  
}
#config-background{
  position: fixed;
  top: 0;
  background-color: gainsboro;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
}
#config-content {
    margin: 0 auto;
    padding: 2em;
    background-color: aliceblue;
    border: 2px solid black;
    z-index: 100;
    max-width: 780px;
}

#app button, input, select {
  font-family: inherit;
  font-size: inherit;
}

#app fieldset {
  margin-left: 0;
  margin-right: 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}



