body{
  background-color: #f9f9f9;
}
#app {
  font-family: consolas;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  max-width: fit-content;
  margin: 0 auto;
}
.source-option, .plugin-option {
  display: flex;
  align-items: center;
}
#config-modal{
  font-family: consolas;
}


#app button, input, select {
  font-family: inherit;
  font-size: inherit;
}

#app fieldset {
  margin-left: 0;
  margin-right: 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}



